<!doctype html >
<html>
<head>
  <title>Introduction to sinatra - Arrays</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Speakers</h1>
  <div class="slide">
    <h2>Below are thr fes speakers</h2>
    <ul>
      <% @speakers.each do |speaker| %>
        <li><%= speaker["name"] %></li>
      <% end %>
    </ul>
  </div>
</body>
</html>