<!doctype html >
<html>
<head>
  <title>Introduction to sinatra</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Introduction to sinatra</h1>
  <div class="slide">
    <h2>Who Am I?</h2>
    <ul>
      <li>Anders Fisher</li>
      <li>Web Developer</li>
      <li>Front End guy</li>
      <li>Back End guy?</li>
      <li>Rubyist</li>
      <li>Teacher</li>
    </ul>
  </div>
  <div class="slide">
    <h2>What is Ruby?</h2>
    <ul>
      <li>a programming langauge</li>
      <li>primarily server side</li>
      <li>invented by matz</li>
      <li>based on smalltalk + others</li>
      <li>emphasis on developer happiness</li>
    </ul>
  </div>
  <div class="slide">
    <h2>Gems</h2>
    <ul>
      <li>centralised way of managing ruby code</li>
      <li>great community involvement</li>
      <li>self curating</li>
      <li>many different tools</li>
      <li>Sinatra</li>
      <li>Rails</li>
      <li>Datamapper</li>
    </ul>
  </div>
  <div class="slide">
    <h2>What is sinatra?</h2>
    <ul>
      <li>Super light web framework</li>
      <li>reads local folders for convenice</li>
      <li>has functions for erb tags etc</li>
      <li>provides a DSL for get/post requests</li>
      <li>simple to manage</li>
    </ul>
  </div>
  <div class="slide">
    <h2>What is it best for?</h2>
    <ul>
      <li>Client side apps</li>
      <li>Simple APIs</li>
      <li>simple websites</li>
      <li>easy api consumption</li>
      <li>handling data as files</li>
    </ul>
  </div>
  <div class="slide">
    <h2>Demo!</h2>
    <ul>
      <li>get and post methods</li>
      <li>view and public folders</li>
      <li>using erb with variables</li>
      <li>arrays and hashes</li>
      <li>using csv library and httparty</li>
    </ul>
  </div>
  <script src="jquery.js"></script>
  <script src="talk.js"></script>
</body>
</html>