<!doctype html >
<html>
<head>
  <title>Introduction to sinatra - Arrays</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Introduction to sinatra</h1>
  <div class="slide">
    <h2>Below is our word of the day</h2>
    <%= @word %>
  </div>
  <script src="jquery.js"></script>
</body>
</html>