*{
  margin:0;
  padding:0;
  font-weight:lighter;
}
html{
  font-family:sans-serif;
}
h1{
  padding:24px;
  font-size:108px;
  color:#efefef;
  background:#333;
}
h2{
  font-size:96px;
  margin-bottom:24px;
}
.slide{
  padding:36px;
  background:#efefef;
  color:#333;
  font-size:72px;
}
.slide ul{
  padding-left:72px;
}